@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    @font-face {
        font-family: 'CustomFont';
        src: url('assets/fonts/MyriadPro-Regular_2.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    /* .form-header{
        clip-path: polygon(5% 0, 100% 0, 100% 53%, 97% 53%, 96% 100%, 0 100%, 0 49%, 3% 48%);
        margin-top:50%;
        width:40%;
        background-color: #D7D7D7;
        margin-left: 28%;
        position: relative;
        top:0%;
        height: 30vh;

    } */
  .detail-header{
    font-family: 'CustomFont', sans-serif;
    padding: 20px;
    color:rgb(14, 14, 13);
   }
   .sub-header{
    font-family: 'CustomFont', sans-serif;
    font-size: 15px;
   }
    /* .submit-button{
        position: relative;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
    }
    .submit-button img{
        width: 100px;
      
    } */
}