.camera-container {
    padding-top:20px ;
    position: relative;
    right:36px;

}

.canvas-visible {
   
    display: block;
    background-color: rgba(211, 211, 211, 0); 
    clip-path: polygon(15% 0%, 92% 0%, 85% 100%, 9% 100%);
    border: 2px solid rgb(94, 221, 10);
}

.canvas-hidden {
 
    display: block;
}
canvas {
    overflow:hidden ;
    width: 100vw;
    height: 75vh;
    object-fit: contain; 
    z-index: 1;
    display: block; 
    top: 0;
    left: 0;
  }