@font-face {
    font-family: 'CustomFont';
    src: url('assets/fonts/MyriadPro-Regular_2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-image: url('assets/backgrounds/4x/Asset\ 6@4x.png'); */
    background-size: cover;
    background-position: center center;
}

.popup a {
    color: yellow;
}
.popup-first{
    width:800px;
}
.popup img {
    margin-top: 10%;
}

.popup {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: 'CustomFont', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1000;
    text-align: center;
    align-items: center;
}

.button-container {
    margin-top: 40px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .popup {
        max-width: 95%;
        font-size: 14px;
    }

    .popup img {
        width: 50%;
        margin-top: 20%;
    }

    .button {
        font-size: 14px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

   
    .popup-first {
        background-image: url('assets/backgrounds/4x/Asset 6@4x.png');
        height: 100vh; /* Take up 100% of the parent height */
          /* Take up 100% of the parent width */
        display: flex; /* Optional: Use flex to center content or align items */
        justify-content: center; /* Optional: Center horizontally */
        align-items: center;   /* Optional: Center vertically */
        background-color: rgba(0, 0, 0, 0.5); /* Optional: Add background for a popup effect */
    }
    .popup-h4-input{
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;
        align-items: center;
    
    }
    .popup-h4-input input{
        width: 50px;
       
    }
    .popup-h4-input-2-1{
        text-align: start;
        margin-bottom: 10%;
        display: flex;
        gap: 5px;
        justify-content: space-around;
    }
    .popup-h4-input-2-2{
        text-align: start;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        margin-bottom: 10%;


    }
    .popup-h4-input-2 input{
        width: 20px;
       
    }
    .popup-h4-input-2{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .popup-img-flex{
        margin-top: 10%;
        width:180%;
        display: flex;
        justify-content: center;
    }
    .popup {
       max-width: 100%;
       max-height: 100%;
        font-size: 18px;
    }
    .pop-first-title{
        font-size: 35px;
    }
    .pop-second-title{
        font-size: 34px;
    }
    .popup img {
        width: 30%;
        margin-top: 5%;
    }
    .popup-input-text{
        text-align: start;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-top: 10%;

        display: flex;
        flex-direction: column;
    }

    
    .popup  input {
        transform: scale(2);
        
    }
    .button {
        font-size: 20px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .popup {
        max-width: 60%;
        font-size: 20px;
    }

    .popup img {
        width: 25%;
        margin-top: 4%;
    }

    .popup p, .popup label {
        font-size: 20px;
    }

    .button {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .popup {
       
        font-size: 16px;
    }

    .popup img {
        width: 40%;
        margin-top: 15%;
    }

    .button {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
    .popup {
      
        font-size: 22px;
    }

    .popup img {
        width: 20%;
        margin-top: 3%;
    }

    .popup p, .popup label {
        font-size: 22px;
    }

    .button {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1600px) {
    .popup {
        max-width: 60%;
        font-size: 24px;
    }
    h2{
        font-size: 74px;
    
    }
    h4{
        font-size: 60px;
    }
    .popup img {
        width: 20%;
        margin-top: 2%;
    }

    .popup p {
        font-size: 44px;
        text-align: start;
        margin-bottom: 3%;
    }
    .popup p input {
        transform: scale(3.5);
        margin-right: 5%;
    }
    

    .button {
        font-size: 26px;
    }
    .popup img{
        margin-top: 10%;
        margin-bottom: 10%;
        height: max-content;
        width: 40%;
    }
}
