@font-face {
    
        font-family: 'CustomFont';
        src:url('assets/fonts/MyriadPro-Regular_2.otf')format('opentype');
        font-weight:normal;
        font-style: normal;
    
}

body {
    background-image: url('assets/backgrounds/4x/Asset\ 6@4x.png');
    background-size: cover;
}
.popup {
    font-family: 'CustomFont', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.button-container {
    margin-top: 40px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
}
