
.capture-button  {
    padding: 15px 30px; 
    font-size: 18px;

    border: none; 
    cursor: pointer;
}

body {
    background-image: url('assets/backgrounds/4x/Asset 6@4x.png');
    background-size: contain; /* Ensure the background image fits */
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    overflow: hidden; 
  }
  
.continue-button {
    padding: 10px 20px;
   
    border: none;
    font-size: 16px;
    cursor: pointer;
}
@supports (-webkit-touch-callout: none) {
    .camera-view {
      transform: rotate(0deg) !important;
    }
  }

.continue-button:hover {
    background-color: #45a049;
}
.back-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .capture-button, .toggle-button {
        font-size: 16px;
        padding: 62px 24px; 
    }

    .back-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}


.button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 5;
}
.capture-button {
    padding: 15px 30px; 
    font-size: 18px; 
    border: none; 

    cursor: pointer;
  
}


@media (max-width: 600px) {
    .capture-button {
        font-size: 16px;
        padding: 62px 24px; 
        z-index: -60;
    }}
    @media (max-width: 760px) {
        .capture-button {
            font-size: 16px;
            padding: 62px 24px; 
            z-index: -60;
        }
}